/* ------------- =LONG FOX  --------------- */

body{
    overflow-x: hidden;
    background: #fff;
    color: #000;
}

/* ------------- =HEADER  --------------- */
header, footer{
  padding: 0 20px;
}

.site-title {
  width: 150px;
  height: 150px;
  background:url(../images/logo.gif) 0 0 no-repeat;
  float: left;
}

nav {
  background:url(../images/menu-bg.png) 0 0 no-repeat;
  height: 37px;
  display: block;
  float: left;
  margin: 75px 0 0 20px;
}

nav ul{margin:0;padding:0;}

nav ul li{
  float:left;
  margin:0;
  padding:0;
  list-style-position: outside;
  list-style-type: none;
}

nav ul li a {height: 37px;background:url(../images/menu.png) 0 0 no-repeat;}

nav ul li.shop a {
  width: 110px;
  background-position: 0 0;
  margin: 0 22px 0 0;
}

nav ul li.facebook a {
  width: 216px;
  background-position: -132px 0;
  margin: 0 22px 0 0;
  
}

nav ul li.contact a {
  width: 181px;
  background-position: -368px 0;
}

nav ul li.shop a:hover {background-position: 0 -42px;}
nav ul li.facebook a:hover {background-position: -132px -42px;}
nav ul li.contact a:hover {background-position: -368px -42px;}

/* ------------- =SLIDER  --------------- */
ul li img{
/*  height: 500px !important;
  width: 500px !important;*/
}


/* ------------- =FOOTER  --------------- */

footer p{
  background:url(../images/copy.png) 0 0 no-repeat;
  height: 25px;
}

p.info {
  width: 185px;
  background-position: 0 0;
  float: left;
}

p.copy {
  width: 369px;
  background-position: -269px 0;
  float: right;
}

/* ------------- =MEDIA QUERIES  --------------- */

@media screen and (max-width: 765px) {
    
  header{text-align: center;}
  
  .site-title {
    position: relative;
    margin: 0 0 0 50%;
    left: -75px;
  }
  
  nav {
    width: 551px;
    position: relative;
    margin: 20px 0 20px 50%;
    left: -275px;
  }
  
}

@media screen and (max-width: 625px) {
  
  footer{text-align: center;}
  footer p{
    display: block;
    text-align: center;
    float:none !important;
    margin: 10px 0 0 0;
  }
  
}

@media screen and (max-width: 560px) {
  
  nav{
    height: auto;
    width: 100%;
    position: static;
    margin:20px 0 0;
    background:none;
  }
  nav ul li {
    float:none;
    margin: 0 0 20px 50% !important;
    position: relative;
  }
  
  nav ul li.shop {left: -55px;width: 110px;}
  nav ul li.facebook {left: -108px;width: 216px;}
  nav ul li.contact {left: -90px;width: 181px;}
    
}


/* ------------- =IMAGE REPLACEMENT  --------------- */
.site-title,
footer p,
nav ul li a{
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}

/* -------------- =CLEARFIX -------------- */

nav ul:after,
header:after,
footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}